<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-dashboard"></i>
        <p>
            Tableau de bord
            <i class="right fa fa-angle-left"></i>
        </p>
    </a>
</li>
<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link active">
        <i class="nav-icon fa fa-dashboard"></i>
        <p>
            Ecole
            <i class="right fa fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{ path('ecole_new') }}" class="nav-link active">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Ajouter une ecole</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('ecole_index') }}" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Liste des ecoles</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('censeur_new') }}" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Ajouter un censeur</p>
            </a>
        </li>
    </ul>
</li>
